.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 20px;
  padding: 20px;
  color: white;
}

.Plant-container {
  width: 300px;
  height: 300px;
  margin: 30px auto;
  border: solid black 1px;
}

.Plant-image {
  height: 100%;
  max-width: 300px;
}

.ControlButton-button {
  background-color: transparent;
  height: 50px;
  width: 50px;
  border: solid black 2px;
  border-radius: 4px;
  margin: 0 10px;
}

.ControlButton-image {
  width: 100%;
}

.UserFeedback {
  margin-top: 20px;
}
